extends ./template.jade
block title
  title AOT APIs
block svg
    div.header___container
        div.header___container__el1
            div.text____title___type1 AOT DETECTOR
            div.text____title___type1 Multiple APIs
            div.text____title___type2 Avoid Deny of Server
            div.text____title___type3 We have the ability to scale our application, and use microservices to handle multiple APIs.
        div.header___container___el2
            img.logo____container__img__(src="/public/images/doctor.svg")
block content